<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-title>Tienda virtual</ion-title>

    <ion-item class="txtinputlogin">
      <ion-input labelPlacement="stacked" label="Correo" [(ngModel)]="emailtxt" fill="solid"  placeholder="email@domain.com" autofocus="true">
        <ion-icon slot="start" name="people" aria-hidden="true"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-item class="txtinputlogin">
      <ion-input labelPlacement="stacked" label="Contaseña" [(ngModel)]="passwordtxt" fill="solid" placeholder="*******">
        <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
        <ion-button fill="clear" slot="end" aria-label="Show/hide">
          <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>
    <ion-button expand="full" id="btnlogin" (click)="loginfunction()">Entrar</ion-button>
    
  </div>
</ion-content>
